/* Styling for the podcast component */
.podcast {
    background-color: #282c34;
    min-height: 100vh;
    border-left: 5px solid whitesmoke;
    font-family: Garamond;
  }
  .podcast-h1 {
    padding: 10px 10px 10px 10px;
  }
  .podcast-h1 div{
    border: 2px solid lightblue;
    border-radius: 10px;
  }
  .podcast-h1 h1{
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 3em;
    font-weight: 500; 
    color: lightblue;
    text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
  }
  .podcast-body {
    border: none;
    text-align: center;
    font-size: 1.3em;
    color: whitesmoke;
  }
  .animated-paragraph .first{
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 0s;
  }
  .animated-paragraph .second{
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 0.33333s;
  }
  .animated-paragraph .third{
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 0.66666s;
  }
  @keyframes example {
    0%   {background-color: #282c34; opacity: 0% }
    25%  {background-color: #282c34; opacity: 50%}
    50%  {background-color: #282c34; opacity: 100%}
    75%  {background-color: #282c34; opacity: 50%}
    100% {background-color: #282c34; opacity: 0%}
  }
.microphone-animation {
    color:whitesmoke;
    width: 25%;
    margin-left: auto;
    margin-right:auto;
}  