.poems{
    background-image: url("/trees.jpg");
    min-height: 100vh;
}
.poems-h1 {
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 3em;
    font-weight: 700; 
    color: #282c34;
    text-shadow: 2px 0 0 lightblue, 0 -2px 0 lightblue, 0 2px 0 lightblue, -2px 0 0 lightblue;
}
.poems-h1 h1{
    text-decoration: underline;
}
.poems-complete {
    white-space: pre-wrap;
}
.poems-options{
    padding-left: 10px;
    padding-right: 10px;
    width: 75vw;
}
.poems-options-dividers {
    display: inline-block;
    width: 25%
}
.poems-options form{
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.poems-options input{
    min-width: 100%;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    outline: none;
    border: 2px solid black;
    font-size: 1.0em; 
}
.poems-options-dividers input:hover{
    text-decoration: underline;    
}
.poems-options-dividers-active {
    animation-name: dividers;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: None;
}

@keyframes dividers {
  0%   {background-color: whitesmoke}
  25%  {background-color: rgb(248, 230, 232)}
  50%  {background-color: rgb(250, 215, 219)}
  75%  {background-color: rgb(253, 200, 206)}
  100%  {background-color: lightpink}
  
}
/* Styling elements for phone screens */


.poems-options-dividers-inactive {
    background-color: whitesmoke;    
}
.poems-title {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 2px solid black;
}
.poems-title h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
}
.poems-body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 70%;
    height: 60vh;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: 2px solid black;
    overflow-y: scroll;
    background: whitesmoke;
}
.poems-body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}